footer.footer
    .container 
        .footer_nav-wrapper 
            .footer_nav
                ul.footer-list 
                    li
                        a(href="#") Latest Posts
                    li
                        a(href="#") Search
                    li
                        a(href="#") Privacy Policy
                    li
                        a(href="#") Popular Posts
                    li
                        a(href="#") Contact Information
                    li
                        a(href="#") Terms of Use
            .footer_icons
                +navigation(navigation)        
    .copyright
        p 	&#169; Copyright 2023. All rights reserved.