.instagram
    +aside_title('Instagram')
    .widget-instagram 
        +widget-instagram-item("#","inst_1.jpg")
        +widget-instagram-item("#","inst_2.jpg")
        +widget-instagram-item("#","inst_3.jpg")
        +widget-instagram-item("#","inst_4.jpg")
        +widget-instagram-item("#","inst_5.jpg")
        +widget-instagram-item("#","inst_6.jpg")
        +widget-instagram-item("#","inst_7.jpg")
        +widget-instagram-item("#","inst_8.jpg")
        +widget-instagram-item("#","inst_9.jpg")
        +widget-instagram-item("#","inst_10.jpg")
        
