-
    var article_nav = [
        {link: '#!', alt: 'whatsapp', src:'whatsapp',svgClass: 'whatsapp-svg' },
        {link: '#!', alt: 'instagram', src:'inst', svgClass: 'inst-svg' },
        {link: '#!', alt: 'twitter', src:'tw',svgClass: 'tw-svg' },
        {link: '#!', alt: 'facebook', src:'fb',svgClass: 'fb-svg' }
    ]

main.main 
    .container
        .main-wrapper

            include ./article 
            include ./sidebar
            include ./pagination