.resent
    +aside_title('Recent posts')
    +aside-widget('#', "aside_1.jpg", "Austin DIY sriracha polaroid sartorial la croix", "december 26, 2019 — 5 comments")
    
    +aside-widget('#', "aside_2.jpg", "Vinyl hexagon tbh selvage chambray street art", "december 26, 2019 — 5 comments")
    
    +aside-widget('#', "aside_3.jpg", "Edison bulb raw denim 3 wolf moon shaman mustache taxidermy. Cliche disrupt slow-carb chicharrones", "december 26, 2019 — 5 comments")

    +aside-widget('#', "aside_4.jpg", "Gastropub ennui keytar, plaid meggings marfa edison bulb pour-over austin enamel pin", "december 26, 2019 — 5 comments")

    +aside-widget('#', "aside_5.jpg", "Inim ad austin tousled gluten-free", "december 26, 2019 — 5 comments")