.inst-svg {
  width: 22px;
  height: 22px;
}
.whatsapp-svg {
  width: 21px;
  height: 21px;
}
.tw-svg {
  width: 24px;
  height: 20px;
}
.fb-svg {
  width: 14px;
  height: 25px;
}
.search-svg {
  width: 26px;
  height: 26px;
}
.inst-svg:hover,
.whatsapp-svg:hover,
.tw-svg:hover,
.fb-svg:hover,
.search-svg:hover {
  fill: #e84c50;
}
