include ./../mixins/btn-read-more_mixin.pug
include ./../mixins/article_mixin.pug
include ./../mixins/nav_mixin.pug
include ./../mixins/aside_btn_mixin.pug
include ./../mixins/aside-widget_mixin.pug
include ./../mixins/instagram_mixin.pug