include ./../mixins/square-btn_mixin.pug
include ./../mixins/article_mixin.pug
include ./../mixins/nav_mixin.pug
include ./../mixins/aside_title_mixin.pug
include ./../mixins/aside-widget_mixin.pug
include ./../mixins/instagram_mixin.pug
include ./../mixins/article-inner_mixin.pug
include ./../mixins/comment_mixin.pug



